.btn-flat {
  background-color: #fff;
  color: #000;
  border-color: #000;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  min-width: 110px;
}

.btn-flat:first-child:hover,
.btn-flat:first-child:active,
.btn.active {
  color: #e3127e;
  background-color: #fff;
  border-color: #e3127e;
}
